html {
    background-color: #fffffa;
}

h1 {
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    font-size: 45px;
}

a {
    text-decoration: none;
    color: black;
    background-color: #eca72c;
    border: 1px solid black;
    padding: 20px 32px 20px;
    text-align: center;
}

nav {
    font-family: 'Open Sans', sans-serif;
    width: 48%;
    margin-right: auto;
    margin-left: auto;
}

nav a:hover {
    background-color: #2c2a4a;
    color: #fffffa;
}

main {
    font-family: 'Open Sans', sans-serif;
    padding-left: 3em;
    padding-right: 3em;
}

h2 {
    font-family: 'Paytone One', sans-serif;
}

h3 {
    font-family: 'Paytone One', sans-serif;
}

div {
    position: absolute;
    object-position: center top;
    left: 35%;
    top: 25%;
    color: #add7f6;
}

img {
    width: auto;
    height: 15em;
    float: left;
    padding-right: 1em;
}

ul {
    list-style-type: none;
}

footer {
    font-family: 'Open Sans', sans-serif;
    height: 5em;
    padding-left: 3em;
    padding-right: 3em;
}

footer p {
    text-align: center;
}